<footer>
        <div class="row">
            <div class="col-1 col-sm-12 col-md-3 col-lg-3 col-xl-3" id="footer1">
                <img src="../../../assets/img/logo de turismo la calera.jpg" alt="no ta" width="240" height="60">
            </div>
            <div class="col-2 col-sm-12 col-md-6 col-lg-6 col-xl-6" id="footer2">
                <p>Nosotros somos los Alumnos de 7mo"B"! esperamos que esta pagina sea de su agrado  y les haya servido de ayuda.</p>
            </div>
            <div class="col-2 col-sm-12 col-md-3 col-lg-3 col-xl-3" id="footer3">
                <img src="../../../assets/img/logo de turismo la calera.jpg" alt="no ta" width="240" height="60">
            </div>
        </div>
        <div class="row" id="sociales">
            <div class="col-1 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="footer4">
                <ul>
                    <li><a href="https://facebook.com/"><img src="../../../assets/img/facebook-icono.png" alt="no ta" width="40" height="40"></a></li>
                    <li><a href="https://instagram.com/"><img src="../../../assets/img/logo-insta.png" alt="no ta" idth="40" height="40"></a></li>
                    <li><a href="https://twitter.com/"><img src="../../../assets/img/logo_twitter.png" alt="no ta" idth="40" height="40"></a></li>
                </ul>
            </div>
        </div>
</footer>