<div class="container">
    <section>
        <article>
            <form action="mail" method="post"> 
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" minlength="3">
                <label for="apellido">apellido</label>
                <input type="text" name="name" id="apellido">
                <label for="Localidad">Localidad</label>
                <input type="text" name="localidad" id="nombre" minlength="15">
                <label for="email">email</label>
                <input type="email" name="email" id="email">
                <label for="Región">Región</label>
                <input type="text" name="Región" id="Región" minlength="10">
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </form>
        </article>
    </section>
</div>
